body{
  padding: 0px;
  margin: 0px;
}
.bodydiv{
  background-color: #0B0F1A;
  color: rgb(206, 175, 0);
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.maindiv{
  background-color: green;
  width:350px;
  height: 275px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.left{
  background-color: #192135;

  width: 54%;
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0px;
}
.right{
  background-color: #20294a;

  width: 46%;
  border-top-right-radius:10px ;
  border-bottom-right-radius:10px ;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0px;
  padding-top: 85px;
}
p{
  margin: 0px;
  font-size: 35px;

  text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.6);

}
.year, .date{
  font-size: 70px;
  align-self: center;
}